image: python:3-slim

stages:
  - md-lint
  - lint
  - build
  - deploy

variables:
  PIP_ROOT_USER_ACTION: "ignore"
  PIP_PROGRESS_BAR: "off"

lint:
  stage: lint
  rules:
    - when: always
  script:
    - python3 --version
    - pip3 install -U black isort flake8 mypy
    - black --check src/pysaten/
    - isort --check-only src/pysaten/
    - flake8 src/pysaten/
    - mypy src/pysaten/

markdown-lint:
  stage: md-lint
  rules:
    - when: always
  script:
    - pip3 install -U pymarkdownlnt
    - pymarkdownlnt scan README.md
    - pymarkdownlnt scan CHANGELOG.md
    - pymarkdownlnt scan tools/README.md

build:
  stage: build
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  dependencies:
    - lint
  script:
    - pip3 install -U build
    - python3 -m build
  artifacts:
    paths:
      - dist/

deploy:  # https://docs.pypi.org/trusted-publishers/using-a-publisher/#gitlab-cicd
  stage: deploy
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  dependencies:
    - build
  id_tokens:
    PYPI_ID_TOKEN:
      aud: pypi
  script:
    - pip3 install -U twine
    - twine --no-color upload dist/* --disable-progress-bar
