# directory
.venv
.mypy_cache
__pycache__

# extension
*.wav
*.txt
*.lab
*.csv
*.pdf
*.zip

# file
/**/blue.py
/**/pink.py

# macOS
.DS_Store
._*

# keep
!requirements*.txt
!/**/tuning_*.csv
!/**/test_*.csv
